.appointment_status_header{
    padding:2rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 5rem;
    border-bottom: 1px solid gainsboro;
}
.right_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding:0 2rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    max-width: 90vw;
}
