.modal_container{
    top:9%;
    left: 35%;
    position: absolute;
    background-color: white;
    width:25rem;
    height: 25rem;
    border-radius: 0.3rem;
    z-index: 20;
}
.cancel_button{
    position: absolute;    
    right: 0.2rem;
    top:0.4rem;
    cursor: pointer;
    padding-right:1rem;
    font-size: 1.5rem;
}